body {
background: #fbd3e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbd3e9, #bb377d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbd3e9, #bb377d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ajout{
text-align: center;

.lien a{

color: black;
text-decoration: none;

}